body {
  height: 100vh;
  margin: 0px;
  padding: 0px;
  width: 100vw;
}

div.body {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

table.character {
  padding: 0px;
  margin: 0px;
  font-size: 1.15em;
  width: 50%;
}

tr.character {
  padding: 0px;
  margin: 0px;
}

td.character {
  width: 30%;
}

input.characterInputBox {
  width: 100%;
}